.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  border: 1px solid magenta;
}

.coverImageContainer {
  max-width: var(--content-max-width);
  padding: 0 var(--content-padding-x);
}

.coverImage {
  display: block;
}

.projectBody {
  border: 1px solid magenta;
  width: 100%;
  max-width: 40em;
  padding: 0 var(--content-padding-x);
}

.projectImages {
  border: 1px solid magenta;
  width: 100%;
  max-width: var(--content-max-width);
  padding: 0 var(--content-padding-x);
}
