.root {
  color: #444;
  font-size: 18px;
  line-height: 1.7;

  & strong {
    font-weight: 700;
    color: var(--black);
  }

  & p {
    margin: 1.2em 0;
  }

  & ol,
  & ul {
    padding-left: 2em;
  }

  & li {
    padding-left: 0.5em;
  }

  & li::marker {
    font-weight: bold;
    color: var(--black);
  }

  & img {
    margin: 1em auto;
    max-width: 100%;
    display: block;
  }

  & blockquote {
    padding: 1em;
    border-left: 5px solid var(--green-primary);
    background-color: var(--green-faded);
  }
}
