.root {
  color: #444;
  font-size: 18px;
  line-height: 1.7;

  /* Headings */

  & h2 {
    font-family: var(--font-display);
    color: var(--color-black);
    line-height: 1.1;
    margin: 1em 0 0.5em 0;
  }

  /* Paragraphs */

  & p {
    margin: 1.2em 0;
  }

  /* Links */

  & a {
    color: var(--color-blue-700);

    &:visited {
      color: var(--color-blue-700);
    }
  }

  /* Inline elements */

  & strong {
    font-weight: 700;
    color: var(--black);
  }

  /* Lists */

  & ol,
  & ul {
    padding-left: 2em;
  }

  & li {
    padding-left: 0.5em;
  }

  & li::marker {
    font-weight: bold;
    color: var(--black);
  }

  /* Images */

  & img {
    /*margin: 1em auto;*/
    margin: 1em 0;
    max-width: 100%;
    display: block;
  }

  /* Blockquotes */

  & blockquote {
    padding: 1em;
    border-left: 5px solid var(--green-primary);
    background-color: var(--color-green-100);
  }

  /* Tables */

  & table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  & th,
  & td {
    padding: 0.5em;
    border: 1px solid var(--color-green-200);
  }

  & tr:nth-child(even) {
    background-color: var(--color-green-50);
  }
}
