.categoriesList {
  display: flex;
  list-style: none;
  gap: 8px;
  padding: 1rem;
  justify-content: center;
  border: 2px solid magenta;
}

.categoryLink {
  text-decoration: none;
  &.isActive {
    text-decoration: underline;
  }
}

.noEntries {
  text-align: center;
  padding: 1rem;
  border: 2px solid magenta;
}

.blogEntriesList {
  text-align: center;
  list-style: none;
  padding: 1rem;
  border: 2px solid magenta;
}
