.metadata {
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: var(--content-max-width);
  margin: 0 auto;
  justify-content: center;
  padding: 3rem 1rem 0 1rem;
}

.metadataDivider {
  color: var(--color-green-300);
}

.author {
  display: flex;
  gap: 8px;
  align-items: center;
}

.authorIcon {
  display: block;
  width: 32px;
  height: 32px;
  background: var(--color-green-300);
  overflow: hidden;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  border-radius: 50%;
}

.pageTitleContainer {
  max-width: var(--content-max-width);
  padding: 0.5em var(--content-padding-x) 2em;
  margin: 0 auto;
}

.coverImageContainer {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 0 var(--content-padding-x);
}

.coverImage {
  display: block;
  width: 100%;
}

.blogBody {
  max-width: 40em;
  margin: 0 auto;
  padding: 0 var(--content-padding-x) 8rem;
}
